
.section4{
    // margin-top: 3rem;
    width: 100vw;
    // background-color: $black;
    overflow: hidden;
    height: 70vh;

    .outterdiv{
        width:100%;
        height: 100%;
        position:relative;

        @include dataContainer;
        .dataContainer{
            position: absolute;
            width: 80%;
            left: 50%;
            bottom: 50%;
            transform: translate(-50%,50%);
            @include breakpoint(1100px){
                width: 50%;
                transform: translate(-70%,70%);
            }

        }
        
        
        .imageTriangleFace{
            height: 400px;
            aspect-ratio: 3/2;
            position: absolute;
            display: none;
            opacity: .5;
            // z-index: -100;
            @include breakpoint(740px){
                display: block;
                height: 22.5em;
                right: -5em;
                opacity: .8;
            }
            @include breakpoint(1100px){
                height: 25em;
                right: 3em;
                opacity: 1;
            }
        }
        @include innerDiv($heightatSmall: 90%, $heightatMedium: 90%, $heightatLarge: 90%);
       
       
            


    }
}
